/* Standard Colors / Fonts for this website */
*{
  margin: 0;
  padding: 0;
  font-family: "Cascadia", "Code", monospace;
  text-decoration: none;
  --main-highlight-color: #ED2939;
  --main-bright-color: #F699CD;
  --main-button-color: #FFB3B2;
  --offset-text-color: #808080;
  --main-page-color: #EDEDED;
  --main-background-color: #fff;
  --main-text-color: #000;
  --bg-rgb: 14,18,18;
}

/* Fade on load */

body{
  animation: fadeIn 3s;
  background-color: var(--main-background-color);
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/* Navigation customization */


nav{
  font-size: 20px;
  display: flex;
  padding: 20px 7% 0% 7%;
  align-items: center;
  background: linear-gradient(180deg,var(--main-background-color) 3rem,rgba(var(--bg-rgb),0));
}
nav p{
  color: var(--main-highlight-color);
  font-weight: bold;
  display: flex;
  position: fixed;
  left: 7%;
  top:23px;

}
nav img{
  width: 180px;
}

.nav-links{
  flex: 1;
  top: 1%;
  right: 7%;
  text-align:end;
  position:fixed;

}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  font-weight: bold;
}


.nav-links ul li a{
  color: var(--main-text-color);
}

.nav-links ul li i{
  color: var(--main-highlight-color);
}


.nav-links a:hover{
  color: var(--main-highlight-color);
  transition: .5s;
}
.nav-links i:hover{
  color: var(--main-bright-color);
  transition: .5s;

}

/* Loading Bar & Loading Bar Animation */
.header-bg,.bg{
  height: 100px;
  background: linear-gradient(180deg,var(--main-background-color) 3rem,rgba(var(--bg-rgb),0));
  position: sticky;
  top:0;

}
.bar{
  height: 6px;
  background-color: transparent;
  position: sticky;
}

.bar .loading{
  position:absolute;
  height:100%;
  background-color: var(--main-background-color);
  animation: progress-animation 3s forwards;
}
@keyframes progress-animation {
  0% {
    width: 0%;
  }
  60% {
    width: 100%;
    background-color: var(--main-highlight-color);
  }
  80% {
    width: 100%;
    background-color: var(--main-highlight-color);
  }
  100% {
    width: 100%;
    background-color: var(--main-background-color);
  }
}

/* Particles.jv editing */

#particles-js{
  width: 100%;
  height: 100vh;
  background: var(--main-background-color);
}

/* Formatting typing name */

.container{
  display: inline-block;
}

.typed-name{
  text-align: center;
  background: var(--main-background-color);
}

div{
  color: #fff;
  margin: auto;
}

/* Typing animations */

@keyframes blink {
  from { border-color: transparent }
  to { border-color: var(--main-background-color); }
}
.typed-out{
  position: relative;
  top: 350px;
  overflow: hidden;
  border-right: .13em solid var(--main-highlight-color);
  white-space: nowrap;

  font-size: 3rem;
  width: 0;
  animation:
    typing 2s forwards,
    blink .9s infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Bio animations */

.my-name{
  width:90%;
  overflow-x:hidden;
}

.description{
  color: rgb(153, 153, 153);
  position: relative;
  top: 370px;
  font-size: 25px;
  width:90%;
  opacity:0;
  animation-name: fade;
  animation-duration:3s;
  animation-delay:1.4s;
  animation-fill-mode: forwards;

}
@keyframes fade{
  0%{opacity:0;}
  100%{opacity:100;}
}

/* About me section */
.jobs-button .projects-button .about-button{
  display: flex;
  cursor: pointer;
  align-items: center;
}

.jobs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.experience{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.home-page-1 {
  width: 2000px;
  color: var(--main-text-color);
}

.home-page-1 ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
}


.home-page-1 li{
  padding-top: 150px;
  display: flex;
  grid-column-gap: 200px;
}

.home-page-1 li p{
  background: var(--main-page-color);
  text-align: center;
  font-size: 32px;
  line-height: 3;
  padding: 32px;
  border-radius: 20px;

}

.home-page-1 ul li img{
  padding: 50px;
  background: var(--main-page-color);
  border-radius: 20px;
}

.home-page-bold-text{
  font-size: 64px;
  color: var(--main-highlight-color);
  text-align: center;
  white-space: nowrap;
  display: block;
  font-weight: bolder;
}

.home-page-work{
  color: var(--main-text-color);
  font-size: 600px;
}

.home-page-center{
  text-align: center;
  display: inline-block;
  font-weight:bolder;
  margin-top: 20px;
  border-radius: 25px;
  border: 3px solid black;
  width: 600px;
  padding: 10px;
  color: var(--main-text-color);

}

.home-page-center:hover{
  transition: .2s;
  transform: scale(1.05);
}

.projects-list-images, .work-images{
  padding-bottom: 150px;

}

/* Thanks */
.spacer {
  display: block;
  background: var(--main-background-color);
  text-align: center;
  position: sticky;
}

.spacer .content {
  padding-top: 100px;
  padding-bottom: 50px;
}

/* Button settings */

.button{
  flex: 1;
}
.button{
  display: block;
  position: fixed;
  right:3%;
  top:3%;
  color: var(--main-text-color);
  background:transparent;
  outline:none;
  border:none;
}

/* Drop down page settings */

.nav-list{
  right:-400px;
  position: fixed;
  margin-top:100px;
  font-size: 50px;
  font-weight:bold;
  transition:.3s;
  margin-left: 20px;
}

.links{
  position:fixed;
  bottom: 15%

}

/* Drop down socials settings */

#github:hover,#linkedin:hover{
  color: var(--main-bright-color);
  transition: .6s;
}
#github,#linkedin{
  color: var(--main-highlight-color);
  transition: .6s;
}
.biography{
  margin:auto;
  color: var(--main-text-color);
  padding-top: 100px;
  width:auto;
}
.nav-list a:hover{
  color: var(--main-highlight-color);
  transition: .6s;
}
.nav-list a{
  color: var(--main-text-color);
}
.menuPart{
  margin-bottom: 30px;
  text-align: left;
  border-radius: 10px;
  padding: 20px;
  background: var(--main-page-color);
  font-size: 20px;
}

.socials{
  display:inline-flex;
}

.socials .menuPart{
  margin-right: 30px;
}
#mobileMenu.active{
  height: auto;
  right:0;
  bottom:0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  display: none;
}

.red-name{
  font-weight: lighter;
  color: var(--main-highlight-color);
}

.pic img{
  margin-left: 10%;
}

.about-container {
  width: 1600px;
  padding-top: 50px;
  margin-left: 10%;
}

.about-container ul{
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
}

.about-container ul li{
  grid-column-gap: 100px;
  display: flex;
}

.about-container ul li p{
  font-size: 24px;
  line-height: 3;
  padding: 32px;
  color: var(--main-text-color);
  background: var(--main-page-color);
  text-align: center;
  border-radius: 20px;

}

.about-container ul li img{
  padding: 50px;
  background: var(--main-page-color);
  border-radius: 20px;
}

.about-container ul li p a{
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight:bold;
  border-radius: 25px;
  background: var(--main-highlight-color);
  transition: .6s;
  width: 200px;
  color: var(--main-text-color);
  font-size: 28px;
}

.about-container ul li a:hover{
  background: var(--main-bright-color);
  transform: scale(1.1);
  transition: .6s;
}

.about-bold-text{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  display: block;

}

.about-header, .projects-header, .work-header{
  text-align:left;
  margin-left:10%;
  margin-right:10%;
  width:90%;
  padding-bottom: 50px;
  display: block;
  padding-top:100px;
  font-size:70px;
  font-weight: bold;
  color: var(--main-text-color);
}

.projects-list-header, .works-header{
  text-align:left;
  margin-left:10%;
  margin-right:10%;
  width:90%;
  display: flex;
  padding-top:100px;
  font-size:70px;
  font-weight: bold;
  color: var(--main-text-color);
}

ul {
  list-style-type: none;
}

.about-content, .projects-content, .works-content{
  width: 1000px;
  color: var(--offset-text-color);
  text-align: left;
  margin-left:10%;
  margin-right:10%;
  font-size: 22px;
}

.projects-list-text, .works-text{
  width: 1600px;
  color: var(--main-text-color);
  text-align: left;
  margin-left:10%;
  margin-right:10%;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 2;
}

.projects-list-link, .parenthesis{
  color: var(--offset-text-color);
}

.projects-list-link:hover{
  transition: 0.5s;
  color: var(--main-highlight-color);
}

.projects-highlighters, .works-highlighters{
  color: var(--offset-text-color);
  white-space: nowrap;
  padding-top: 50px;
  padding-bottom: 20px;
}

.projects-features-list, .works-highlighters-list{
  list-style-type: disc;
  padding-left: 20px;
}

.projects-features-list li, .works-highlighters-list li{
  padding-bottom: 20px;
}

.space{
  white-space: nowrap;
  color: inherit;
}

.about-content li, .projects-content li, .works-content li{
  padding-bottom: 30px;
}


.projects-header{
  margin-left: 10%;
  margin-right: 10%;
}


.red-italic{
  color: var(--main-highlight-color);
  font-style: italic;
}


.work-list a:hover{
  color: var(--main-highlight-color);
  transition: .6s;
}
.red,#red{
  color:var(--main-highlight-color);
  transition: .6s;
}


#red:hover{
  color: var(--main-bright-color);
  transition: .6s;
}

.projects-list-images ul li img, .works-images ul li img{
  width:30%;
  height:auto;
  transition: .2s;
  box-shadow: 0 0 20px 0px var(--offset-text-color);
  size:auto;
}
.projects-list-images ul, .works-images ul{
  text-align:center;
  padding-top:50px;
  display: grid;
  grid-template-columns: repeat(auto-fill,30%);
  grid-column-gap: 5%;
}
.projects-list-images ul li, .works-images ul li{
  padding-bottom: 150px;
}

.projects-list-images ul li img:hover, .works-images ul li img:hover{
  box-shadow: 0 0 20px 0px rgb;
  width:40%;
  size:auto;
}

.projects-list ul li img{
  width:30%;
  size:auto;
  transition: .2s;
}

.projects-images{
  padding-top: 75px;
}

.projects-images ul li img{
  width:75%;
  height:auto;
}

.projects-images ul{
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  grid-column-gap: 5%;
}

.projects-images ul li{
  text-align: center;
}
@media only screen and (min-width: 2305px){
  .menuButton{
    visibility: hidden;
  }
}
/* Screen for Laptop  */
@media only screen and (max-width: 2304px) and (min-width: 1400px){
  .home-page-1, .about-container, .works-text, .projects-list-text{
    width: 1200px;
  }

  .menuButton{
    visibility: hidden;
  }

  .home-page-1 li{
    grid-column-gap: 100px;
  }
  .home-page-1 li p{
    font-size: 20px;
  }

  .home-page-bold-text{
    font-size: 36px;
  }

  .home-page-1 ul li img, .home-page-work{
    font-size: 400px;
    width: 400px;
  }

  .about-container ul li p{
    font-size: 20px;
  }
}

/* Screen for iPads  */
@media only screen and (max-width: 1399px) and (min-width: 401px){
  .home-page-1, .about-container, .works-text, .projects-list-text{
    width: 1000px;
  }

  .home-page-1 li p{
    font-size: 16px;
    line-height: 3;
    padding: 10px;
  }

  .home-page-bold-text{
    font-size: 24px;
  }

  .home-page-1 ul li img, .home-page-work{
    font-size: 300px;
    width: 300px;
    padding: 5px;
  }

  .home-page-center{
    width: 300px;
    padding: 5px;
    border: 1px solid black;
  }
  .about-container ul li p a{
    width: 150px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 14px;
  }

  .home-page-1 li{
    padding-top: 50px;
    display: flex;
    grid-column-gap: 50px;
  }

  .about-container{
    padding-top: 35px;
    margin-left: 7.5%;
  }

  .about-container ul li p{
    font-size: 16px;
    padding: 5px;
    width: 700px;
    line-height: 3;
  }

  .about-container ul li{
    display: flex;
    grid-column-gap: 50px;
  }

  .about-container ul li img{
    width: 200px;
    padding: 5px;
  }

  .about-bold-text{
    font-size: 18px;
  }

  .about-header, .projects-header, .work-header{
    width: 600px;
    font-size:48px;
    padding-bottom: 30px;
    margin-left: 7.5%;
    padding-top: 30px;
  }

  .projects-list-header, .works-header{
    width: 600px;
    font-size:48px;
    margin-left: 7.5%;
    padding-top: 30px;
  }

  .about-content, .projects-content, .works-content{
    width: 800px;
    font-size: 18px;
    margin-left: 7.5%;
  }

  .projects-highlighters, .works-highlighters{
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .projects-list-text, .works-text{
    width: 1000px;
    font-size: 18px;
    margin-left: 7.5%;
    margin-top: 20px;
  }

  .menuButton{
    visibility:hidden;
  }
  .projects-list-images ul li img, .works-images ul li img{
    width: 150px;
  }

  .nav-links{
    flex: 1;
    top: 1%;
    right: 3%;
    text-align:end;
    position:fixed;

  }
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 6px 9px;
    font-weight: bold;
  }
}

/* Screen for Phones */
@media only screen and (max-width: 400px) {
  .home-page-1, .about-container, .works-text, .projects-list-text{
    width: 400px;
  }

  .home-page-1 li p{
    font-size: 7px;
    line-height: 3;
    padding: 10px;

  }

  .home-page-bold-text{
    font-size: 10px;
  }

  .home-page-1 ul li img, .home-page-work{
    font-size: 100px;
    width: 100px;
    padding: 5px;
  }

  .home-page-center{
    width: 150px;
    padding: 5px;
    border: 1px solid black;
  }
  .about-container ul li p a{
    width: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 8px;
  }

  .home-page-1 li{
    padding-top: 50px;
    display: flex;
    grid-column-gap: 20px;
  }

  .about-container{
    padding-top: 35px;
    margin-left: 5%;
  }

  .about-container ul li p{
    font-size: 6px;
    padding: 5px;
    width: 200px;
    line-height: 3;
  }

  .about-container ul li{
    display: flex;
    grid-column-gap: 20px;
  }

  .about-container ul li img{
    width: 100px;
    padding: 5px;
  }

  .about-bold-text{
    font-size: 10px;
  }

  .about-header, .projects-header, .work-header{
    width: 350px;
    font-size:32px;
    padding-bottom: 30px;
    margin-left: 5%;
    padding-top: 30px;
  }

  .projects-list-header, .works-header{
    width: 300px;
    font-size:24px;
    margin-left: 5%;
    padding-top: 30px;
  }

  .about-content, .projects-content, .works-content{
    width: 350px;
    font-size: 16px;
    margin-left: 5%;
  }

  .projects-highlighters, .works-highlighters{
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .projects-list-text, .works-text{
    width: 350px;
    font-size: 12px;
    margin-left: 5%;
    margin-top: 20px;
  }

  .nav-links {
    display:none;
  }
  .menuButton{
    visibility:visible;
  }
  .projects-list-images ul li img, .works-images ul li img{
    width: 75px;
  }
}


